

header{
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    border-bottom-color: #D2D2D2FF;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    position:fixed;
    top:0;
    z-index: 100;
    background: #ffffff;
}

header h3{
    padding-top: 37px;
    font-family: Segoe UI, FontAwesome;
    font-size: 15px;
}

header .text{
    color: black;
    margin-left: 50px;
    width: 150px;
}

header .logo{
    color: #499acc;
    font-size: 25px;
    margin-left: 1450px;
    padding-top: 35px;
    font-family: Franklin Gothic Medium;
    text-align: right;
}
header .login{
    border-style: none;
    margin-top: 0px;
    margin-left: 1350px;
    width: 60px;
}

header .login-link{
    width: 60px;
    font-size: 15px;
    color: #000000;
}


header .logo-link{
    width: 20px;
}