.poker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.voting {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 690px;
    width: 78.5%;

}

.player-list {
    width: 375px;
    min-width: 300px;
    height: 750px;
}

.voting-area {
    height: 547px;
}

.row-top {
    width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flip-cards {
    width: 150px;
    height: 50px;
}

.clear-votes {
    width: 150px;
    height: 50px;
}

.finish-voting {
    width: 320px;
    height: 50px;
    margin-top: 20px;
}

.settings {
    margin: 0 auto;
    width: 25px;

}
.voting-container{
    height: 182px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.center-contents{
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-text{
    margin-top: 5px;
}
.exit-settings{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.options{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.row-1{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.row-2{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.vote-icon{
    width: 35px;
    padding-right: 10px;
}
.user-icon {
    width: 35px;
}
.icon {
    background: #bbb8b8;
    border-style: solid;
    border-width: 3px;
    border-color: #bbb8b8;
    border-radius: 75px;
    width: 52px;
    height: 52px;
}
.align-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-center-start{
    display: flex;
    align-items: center;
    justify-content: start;
}
.align-center-end{
    display: flex;
    align-items: center;
    justify-content: end;
}
.align-center-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

